__pycache__/
.venv/
output/
cache/
temp/
bot.env
logs/
archives/
previews/
maps4fs.zip
.DS_Store
maps/
.mypy_cache/
.pytest_cache/
htmlcov/
tests/data/
osmps/
queue.json
history.json
map_directory/
local.env
*.sqlite
dev/utils/grle_to_png/data/
mfsrootdir/
data/
defaults/
templates/