[MESSAGES CONTROL]
disable=raw-checker-failed,
        bad-inline-option,
        locally-disabled,
        file-ignored,
        suppressed-message,
        useless-suppression,
        deprecated-pragma,
        use-symbolic-message-instead,
        use-implicit-booleaness-not-comparison-to-string,
        use-implicit-booleaness-not-comparison-to-zero,
        no-member,
        broad-exception-caught,
        too-few-public-methods,
        abstract-method,
        too-many-public-methods,
        too-many-public-methods,
        too-many-positional-arguments,
        too-many-arguments,
        raise-missing-from,
        too-many-locals,
        redefined-builtin,
        too-many-instance-attributes,
        duplicate-code,
        too-many-statements,
        attribute-defined-outside-init,
        unused-argument,
        consider-using-from-import,
        line-too-long,
        import-outside-toplevel,
        too-many-branches,
        too-many-nested-blocks
