opencv-python
osmnx>=2.0.0
rasterio
streamlit
folium
geopy
trimesh
pyproj
fast-simplification
streamlit-stl==0.0.5
pympler
pydantic
maps4fs
pygmdl
owslib
tqdm
scipy
streamlit-folium
schedule
python-dotenv
requests-cache