opencv-python
osmnx>=2.0.0
rasterio
mypy
pylint
pandas-stubs
types-requests
pytest
pytest-cov
geopy
fast-simplification
pyproj
trimesh
pympler
pydoc-markdown
pydantic
pygmdl
owslib
tqdm
types-tqdm
scipy
python-dotenv
pydtmdl